.containerImageGallery {
  background-color: rgb(240, 234, 224);
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 90%;
  height: 100%;
  padding: 24px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 16px;

}

.itemImageGallery {
  width: calc((100% - 48px) / 3);
  list-style-type: none;
  position: relative;
}